
.health-bar{
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #3f3a3a;
    border-radius: 5px;
    position: relative;
    transform: translate(-50%, 0);
}

.bar {
    background: linear-gradient(to bottom, red, #900);
    width: 100%;
    height: 10px;
    border-radius: 2px;
    position: relative;
    transition: width .5s linear;
  }
  
  .hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    border-radius: 2px;
    transition: width .5s linear;
  }

  .health-num {
    font: 12px kreon;
    user-select: none;
    color: white;
    position: absolute;
    top: 2px;
    right: 40%;
    bottom: 0;
  }