.pixelImg {
    user-select: none;
    cursor: pointer;
    image-rendering: pixelated;
}

.pixelImg:hover {
    transform: scale(1.3);
}

.tooltiptext {
    visibility: hidden;
    padding: 5px;
    border-color: dimgray;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    font: 10px kreon;
    color: tan;
    top: 105%;
    position: absolute;

}

.item-description {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    border: 1px solid dimgray;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    font: 10px kreon;
    color: BurlyWood;
    width: 100px;
    top: 100%;
}

.skill-description {

    position: absolute;
    visibility: hidden;
    font: 10px kreon;
    color: BurlyWood;
    width: 100px;

}

#money-ui:hover .tooltiptext {
    visibility: visible;
}

#money-count {
    user-select: none;
    pointer-events: none;
    display: inline-block;
    font: 14px kreon;
    color: gold;
    text-shadow: 1px 1px 1px black;
}

#backpack-ui:hover .tooltiptext {
    visibility: visible;
}

.artifact-slot {
    margin: 2px;
    width: 32px;
    height: 32px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(50, 50, 50);
    border-bottom-color: gray;
    outline: solid 1px rgb(78, 76, 76);
    transition: outline 0.1s;
}

.artifact-slot:hover {
    outline-width: 2px;
}

.artifact-slot:hover span {
    visibility: visible;
}

.artifact-slot:hover div {
    visibility: visible;
}

.potion-slot {
    margin: 2px;
    width: 32px;
    height: 32px;
    outline: solid 1px rgb(78, 76, 76);
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(50, 50, 50);
    border-bottom-color: gray;
    transition: outline 0.1s;
}

.potion-slot:hover {
    outline-width: 2px;
}

.potion-slot:hover span {
    visibility: visible;
}

.potion-slot:hover div {
    visibility: visible;
}

.round-time-bar {
    height: 5px;
    width: 48px;
    border: 2px solid Bisque;
    transform-origin: left center;
    visibility: hidden;
    background: #c54;
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
    to {
        width: 0px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px double rgba(105, 105, 105, 0.34);
    border-radius: 10px;
    background-color: transparent;
    gap: 10px 50px;
    padding: 10px;

}

.shop-slot {
    user-select: none;
    position: relative;
}

.shop-slot:hover {
    z-index: 10;
}

.shop-slot:hover span {
    visibility: visible;
}

.shop-slot:hover div {
    visibility: visible;
}

.silhouette-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid dimgray;
    border-radius: 10px;
    background-color: rgba(43, 41, 41, 0.466);
    gap: 10px 50px;
    padding: 10px;

}

.artifact-window {

    width: 250px;
    height: 250px;
    border: 1px solid dimgray;
    border-radius: 5px;
    display: inline-block;
    background: radial-gradient(circle farthest-corner at 50% 40%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 35%);
}

.artifact-name {

    user-select: none;
    font: 18px kreon;
    color: GoldenRod;
    border-bottom-style: double;
    border-radius: 5px;
    padding: 5px;
    border-color: DarkGoldenRod;
    border-width: 3px;
    width: fit-content;
    margin: auto;
}

.artifact-description {

    user-select: none;
    font: 12px kreon;
    color: NavajoWhite;
    padding: 5px;
    text-align: center;
    position: relative;
    top: 60%;
}

.equip-button {

    font: 12px kreon;
    color: Silver;
    border-color: Gray;
    border-radius: 5px;
    background-color: Black;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    visibility: hidden;

}

.enemy-tooltip:hover span {
    visibility: visible;
}

.enemy-tooltip:hover img {
    filter: invert(42%);
}

.enemy-tooltip>span {

    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    font: 12px kreon;
    border-color: black;
    color: GoldenRod;
    visibility: hidden;
    position: absolute;
    width: max-content;
}

.multiplier {
    display: inline;
    font: 12px kreon;
    color: DimGray;
    user-select: none;
    pointer-events: none;
}

.multiplier-glow {
    color: wheat;
    font-size: 16px;
    animation: multiplier-glow 1s ease-in-out infinite alternate;
}

@keyframes multiplier-glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d69719, 0 0 40px #b09f44, 0 0 50px #eb9514;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #af9b28, 0 0 40px #c6983d, 0 0 50px #b3aa2d, 0 0 60px #b86d26;
    }
}

.credits-text {
    font: 32px kreon;
    color: wheat;
    border-bottom: 2px solid wheat;
    margin-bottom: 20px;
    user-select: none;
}

.credits-person {
    font: 16px kreon;
    color: darkgoldenrod;
    padding-left: 10px;
    margin: 0;
    user-select: none;
}

.credits-asset {
    color: cadetblue;
}

.credits-return-button {
    font: 20px kreon;
    position: absolute;
    right: -150px;
    color: black;
    border-radius: 2px;
    background-color: Gray;
    margin: 10px;
}

/** */

.menu:hover {
    background-color: #4d4c4c;
}

.menu {
    font: 20px kreon;
    color: black;
    border-radius: 2px;
    background-color: Gray;
    margin: 10px;
    opacity: 0.3;
}

#menuContainer {
    display: grid;
}

.volume {

    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 200px;


}

.volume::-webkit-slider-runnable-track {
    height: 5px;
    background: #555;
    border-radius: 15px;
}

/** */

.reward {

    user-select: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    font: 12px kreon;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    color: rgb(181, 180, 174);
    position: relative;
}

.reward:hover {
    background-color: rgb(78, 76, 76);
    color: LightSteelBlue;
}

.reward-window {
    border: 2px solid black;
    border-radius: 10px;
    background-color: Black;
    width: 200px;
    height: 300px;
    outline: thick ridge gray;
}

.reward-window .reward-text {

    font: 32px kreon;
    color: burlywood;
    user-select: none;
    pointer-events: none;
    border-bottom: solid gray;
    margin-bottom: 10px;
}

.reward-continue {

    position: absolute;
    bottom: 0px;
    right: 0px;
    font: 20px kreon;
    color: black;
    border-radius: 2px;
    background-color: Gray;
    margin: 10px;
}

.reward-artifact {
    image-rendering: pixelated;
    position: absolute;
    top: 0%;
    left: 5%;
}

/** */

.affinity-button:hover {
    background-color: #4d4c4c;

}

#Fire-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #e09148;
}

#Water-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #278bac;
}

#Grass-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #3ca438;
}

#Rainbow-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #d1d5d1;
}

#Fire-affinity {
    font: 24px kreon;
    color: gold;
    border: 2px solid crimson;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    background-color: rgb(20, 20, 20);
    margin: 10px;
    transition: transform .2s;

}

#Water-affinity {
    font: 24px kreon;
    color: gold;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    background-color: rgb(20, 20, 20);
    margin: 10px;
    transition: transform .2s;
}

#Grass-affinity {
    font: 24px kreon;
    color: gold;
    border-style: solid;
    border-color: seagreen;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    background-color: rgb(20, 20, 20);
    margin: 10px;
    transition: transform .2s;
}

#Rainbow-affinity {
    font: 24px kreon;
    color: gold;
    background-color: rgb(20, 20, 20);
    margin: 10px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #299b27 50%, #da982e 75%, #fd1892 100%) 1;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    transition: transform .2s;
}

#choose-affinity {

    font: 24px kreon;
    position: absolute;
    top: -70px;
    color: gold;
    user-select: none;

}

.affinity-text {
    position: relative;
    top: 0px;
    margin-top: 0px;
    /* border: 1px solid red; */
}

.affinity-property-text {

    font-size: 14px;
    color: wheat;
    text-align: left;
    /* border: 1px solid red; */
    margin: 0;
}

.skill-icon {
    width: fit-content;
    display: inline-block;
    /* border: 1px solid purple; */
}

.skill-icon:hover div {
    visibility: visible;
}

/** */

.health-bar {
    box-sizing: border-box;
    width: 200px;
    height: 15px;
    padding: 2px;
    background-color: rgba(63, 58, 58, 0.5);
    border-radius: 5px;
    position: relative;
    /* transform: translate(-0%, 0); */
}

.bar {
    background: linear-gradient(to bottom, rgb(23, 27, 55), rgb(28, 10, 48));
    width: 100%;
    height: 100%;
    border-radius: 2px;
    position: relative;
    transition: width .5s linear;
}

.health-num {
    font: 12px kreon;
    user-select: none;
    color: rosybrown;
    text-align: center;
    transform: translateY(-80%);
}

#dialog-window {

    user-select: none;
    width: 620px;
    height: 100px;
    background-color: rgba(30, 30, 30, 0.3);
    border: 2px ridge black;
    font: 16px kreon;
    color: gray;
    border-radius: 5px;

}