.reward {

    user-select: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    font: 12px kreon;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    color: rgb(181, 180, 174);
    position: relative;
}

.reward:hover {
    background-color: rgb(78, 76, 76);
    color: LightSteelBlue;
}

.reward-window {
    border: 2px solid black;
    border-radius: 10px;
    background-color: Black;
    width: 200px;
    height: 300px;
    outline: thick ridge gray;
}

.reward-window .reward-text {

    font: 32px kreon;
    color: LightBlue;
    user-select: none;
    pointer-events: none;
    border-bottom: solid gray;
    margin-bottom: 10px;
}

.reward-continue {

    position: absolute;
    bottom: 0px;
    right: 0px;
    font: 20px kreon;
    color: black;
    border-radius: 2px;
    background-color: Gray;
    margin: 10px;
}

.reward-artifact{
    image-rendering: pixelated;
    position: absolute;
    top: 0%;
    left: 5%;
}