.select:hover {
    background-color: #4d4c4c;
    transform: scale(1.3);
}

.select {
    font: 24px kreon;
    color: wheat;
    border-radius: 2px;
    background-color: Black;
    margin: 10px;
    height: 120px;
    width: 100px;
    display: inline-flex;
    transition: transform .2s;
    opacity: 0.5;
}

.affinity-button:hover {
    background-color: #4d4c4c;

}

#Fire-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #e09148;
}

#Water-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #278bac;
}

#Grass-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #3ca438;
}

#Rainbow-affinity:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 5px #d1d5d1;
}

#Fire-affinity {
    font: 24px kreon;
    color: gold;
    border: 2px solid crimson;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    background-color: rgb(20, 20, 20);
    margin: 10px;
    transition: transform .2s;

}

#Water-affinity {
    font: 24px kreon;
    color: gold;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    background-color: rgb(20, 20, 20);
    margin: 10px;
    transition: transform .2s;
}

#Grass-affinity {
    font: 24px kreon;
    color: gold;
    border-style: solid;
    border-color: seagreen;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    background-color: rgb(20, 20, 20);
    margin: 10px;
    transition: transform .2s;
}

#Rainbow-affinity {
    font: 24px kreon;
    color: gold;
    background-color: rgb(20, 20, 20);
    margin: 10px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #299b27 50%, #da982e 75%, #fd1892 100%) 1;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    transition: transform .2s;
}

#choose-affinity {

    font: 24px kreon;
    position: absolute;
    top: -70px;
    color: gold;
    user-select: none;

}

.affinity-text {
    position: relative;
    top: 0px;
    margin-top: 0px;
    /* border: 1px solid red; */
}

.affinity-property-text {

    font-size: 14px;
    color: wheat;
    text-align: left;
    /* border: 1px solid red; */
    margin: 0;
}

.skill-icon{
    width: fit-content;
    display: inline-block;
    /* border: 1px solid purple; */
}

.skill-icon:hover div{
    visibility: visible;
}