.select:hover {
    background-color: #4d4c4c;
    transform: scale(1.3);
}

.select {
    font: 24px kreon;
    color: wheat;
    border-radius: 2px;
    background-color: Black;
    margin: 10px;
    height: 120px;
    width: 100px;
    display: inline-flex;
    transition: transform .2s;
    opacity: 0.5;
}